* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Outfit;
    font-size: 15px;
    background-color: hsl(212, 45%, 89%);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

@media (min-width: 375px) {
    .card {
    max-width: 320px;
    height: 500px;
    margin: auto;
    background-color: hsl(0, 0%, 100%);
    border: 1px solid transparent;
    border-radius: 20px;
}

.QR_img {
    /* max-width: 100%; */
    width: 288px;
    height: 288px;
    border-radius: 10px;
    margin: 16px 16px 24px;
}

.desc {
    margin: 0 32px 40px;
    text-align: center;
}

.desc .desc-heading {
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    margin-bottom: 16px;
}

.desc .desc-para {
    font-weight: 400;
    color: hsl(216, 15%, 48%);
}
}
